.benefits {
  // @extend %section;
  // padding-bottom: 0;
  @include section;
}

.benefits__list {
  @extend %reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    align-items: center;
    justify-content: center;
  }
}

.benefits__item {
  max-width: 450px;
}

.benefits__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg-clr);
  border-radius: 4px;
  gap: 30px;
  height: 120px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__item {
  max-width: 450px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    min-height: 248px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-dark-txt-clr);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
