.clients {
  @include section;
}

.clients__list {
  @extend %reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    align-items: center;
    justify-content: center;
  }
}

.clients__link {
  @extend %reset-link;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--animation-fast);
  min-width: 210px;

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }

  &:hover .clients__icon {
    fill: #2196f3;
  }

  &:focus .clients__icon {
    fill: #2196f3;
  }

  @media screen and (min-width: 768px) {
    min-width: 226px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 170px;
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill var(--animation-fast);
}
