.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 16px 15px;
  width: 100%;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 768px;
    height: 80px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 1200px;
    height: 80px;
  }
}

.header__logo {
  @extend %reset-link;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-txt-color);
}

.menu__btn-open {
  // position: fixed;
  // top: 10px;
  // right: 15px;
  // z-index: 10;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill var(--animation-fast);

  &:active {
    fill: var(--accent-txt-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__logo-clr {
  color: var(--logo-txt-clr);
}

.header__list {
  @extend %reset-list;
  display: block;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__item-mail {
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.header__link,
.header__link {
  @extend %reset-link;
  color: inherit;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--animation-fast);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
}

.header__nav {
  margin-right: auto;
  margin-left: 87px;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
