.portfolio__card-box {
  position: relative;
  overflow: hidden;
}

.card-box__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation-fast);
}

.overlay__text {
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-light-txt-clr);
}

